{% extends 'base.html' %}

{% block title %}Bookmark List{% endblock %}

{% block content %}
    <div class="btn-group">
        <a href="{% url 'bookmark:add' %}" class="btn btn-info">Add Bookmark</a>
    </div>
    <p></p>
    <form action="" method="get">
        <div class="row">
            <div class="col">
                <input type="text" name="search_site_name" value="{{ request.GET.search_site_name }}"
                       class="form-control">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-dark">Search</button>
            </div>
        </div>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Site</th>
            <th>URL</th>
            <th>Modify</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for bookmark in bookmark_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'bookmark:detail' pk=bookmark.id %}">{{ bookmark.site_name }}</a></td>
                <td><a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a></td>
                <td><a href="{% url 'bookmark:update' pk=bookmark.id %}" class="btn btn-success btn-sm">Modify</a></td>
                <td><a href="{% url 'bookmark:delete' pk=bookmark.id %}" class="btn btn-danger btn-sm">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pagination %}
    {% if is_paginated %}
        <ul class="pagination justify-content-center pagination-sm">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="{% url 'bookmark:list' %}?page={{ page_obj.previous_page_number }}" tabindex="-1"
                       class="page-link">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a href="#" class="page-link" tabindex="-1">Previous</a>
                </li>
            {% endif %}

            {% for object in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == forloop.counter %} disabled{% endif %}">
                    <a href="{{ request.path }}?page={{ forloop.counter }}" class="page-link">{{ forloop.counter }}</a>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="{% url 'bookmark:list' %}?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a href="#" class="page-link">Next</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}