{% extends 'base.html' %}

{% block title %}Bookmark List{% endblock %}

{% block content %}
<div class="btn-group">
  <a href="{% url 'bookmark:add' %}" class="btn btn-info">Add Bookmark</a>
</div>
<p></p>
<table class="table">
  <thead>
  <tr>
    <th>#</th>
    <th>Site</th>
    <th>URL</th>
    <th>Modify</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  {% for bookmark in bookmark_list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td><a href="{% url 'bookmark:detail' pk=bookmark.id %}">{{ bookmark.site_name }}</a></td>
      <td><a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a></td>
      <td><a href="{% url 'bookmark:update' pk=bookmark.id %}" class="btn btn-success btn-sm">Modify</a></td>
      <td><a href="{% url 'bookmark:delete' pk=bookmark.id %}" class="btn btn-danger btn-sm">Delete</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}